body {
  background-color: hsl(0, 2%, 82%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  padding: 10;
  width: 100%; /* Adjust the width to your desired size, e.g., 100% for full width */
  height: 250px; /* Let the height adjust proportionally to maintain the aspect ratio */
  object-fit: cover;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.product-amount {
  float: right;
}
.bg-dark {
  background-color: #0b2f33 !important;
}

#cart-icon {
  width: 35px;
  display: inline-block;
  margin-left: 15px;
}

#login-icon {
  width: 50px;
  display: inline-block;
  margin-left: 15px;
  border-radius: 55%;
  object-fit: cover;
  object-position: center;
}

.forlogin {
  color: #ececec;
  text-decoration: none;
}
strike {
  text-decoration-style: double;
  color: green;
}
#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: rgb(247, 81, 81);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 18px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 50px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;

  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}
